//! **************************************************************************
// Written by: Map M.81d on Mon Mar 21 20:15:11 2011
//! **************************************************************************

SCHEMATIC START;
COMP "PHY_COL" LOCATE = SITE "L14" LEVEL 1;
COMP "PHY_MDC" LOCATE = SITE "N14" LEVEL 1;
COMP "PHY_CRS" LOCATE = SITE "M13" LEVEL 1;
COMP "SYSCLK_N" LOCATE = SITE "K16" LEVEL 1;
COMP "SYSCLK_P" LOCATE = SITE "K15" LEVEL 1;
COMP "PHY_TXC_GTXCLK" LOCATE = SITE "A9" LEVEL 1;
COMP "PHY_RXD<0>" LOCATE = SITE "M14" LEVEL 1;
COMP "PHY_RXD<1>" LOCATE = SITE "U18" LEVEL 1;
COMP "PHY_RXD<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "PHY_RXD<3>" LOCATE = SITE "T18" LEVEL 1;
COMP "PHY_RXD<4>" LOCATE = SITE "T17" LEVEL 1;
COMP "PHY_RXD<5>" LOCATE = SITE "N16" LEVEL 1;
COMP "PHY_RXD<6>" LOCATE = SITE "N15" LEVEL 1;
COMP "PHY_RXD<7>" LOCATE = SITE "P18" LEVEL 1;
COMP "PHY_MDIO" LOCATE = SITE "P16" LEVEL 1;
COMP "GPIO_SWITCH<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "GPIO_SWITCH<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "PHY_TXD<0>" LOCATE = SITE "F8" LEVEL 1;
COMP "GPIO_SWITCH<2>" LOCATE = SITE "F12" LEVEL 1;
COMP "PHY_TXD<1>" LOCATE = SITE "G8" LEVEL 1;
COMP "GPIO_SWITCH<3>" LOCATE = SITE "V13" LEVEL 1;
COMP "PHY_TXD<2>" LOCATE = SITE "A6" LEVEL 1;
COMP "PHY_TXD<3>" LOCATE = SITE "B6" LEVEL 1;
COMP "PHY_TXD<4>" LOCATE = SITE "E6" LEVEL 1;
COMP "PHY_TXD<5>" LOCATE = SITE "F7" LEVEL 1;
COMP "PHY_TXD<6>" LOCATE = SITE "A5" LEVEL 1;
COMP "PHY_TXD<7>" LOCATE = SITE "C5" LEVEL 1;
COMP "PHY_RESET_L" LOCATE = SITE "L13" LEVEL 1;
COMP "PHY_RXER" LOCATE = SITE "P17" LEVEL 1;
COMP "PHY_TXER" LOCATE = SITE "A8" LEVEL 1;
COMP "GPIO_BUTTON<0>" LOCATE = SITE "F6" LEVEL 1;
COMP "GPIO_BUTTON<1>" LOCATE = SITE "E4" LEVEL 1;
COMP "GPIO_BUTTON<2>" LOCATE = SITE "P4" LEVEL 1;
COMP "GPIO_BUTTON<3>" LOCATE = SITE "F5" LEVEL 1;
COMP "PHY_RXCTRL_RXDV" LOCATE = SITE "N18" LEVEL 1;
COMP "PHY_RXCLK" LOCATE = SITE "L16" LEVEL 1;
COMP "GPIO_LED<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "GPIO_LED<1>" LOCATE = SITE "C14" LEVEL 1;
COMP "GPIO_LED<2>" LOCATE = SITE "C4" LEVEL 1;
COMP "GPIO_LED<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "PHY_TXCTL_TXEN" LOCATE = SITE "B8" LEVEL 1;
COMP "CPU_RESET" LOCATE = SITE "N4" LEVEL 1;
PIN mac/trans/txc_ddr_pins<1> = BEL "mac/trans/txc_ddr" PINNAME CK0;
PIN mac/trans/txc_ddr_pins<2> = BEL "mac/trans/txc_ddr" PINNAME CK1;
TIMEGRP clocks_xclk125_tx = BEL "mac/trans/outcnt_2" BEL "mac/trans/outcnt_1"
        BEL "mac/trans/outcnt_0" BEL "mac/trans/TXD_7" BEL "mac/trans/TXD_6"
        BEL "mac/trans/TXD_5" BEL "mac/trans/TXD_4" BEL "mac/trans/TXD_3" BEL
        "mac/trans/TXD_2" BEL "mac/trans/TXD_1" BEL "mac/trans/TXD_0" BEL
        "mac/trans/txdat_reg_7" BEL "mac/trans/txdat_reg_5" BEL
        "mac/trans/txdat_reg_3" BEL "mac/trans/txdat_reg_1" BEL
        "mac/trans/TXCTRL" BEL "mac/trans/frm_dly_8" BEL "mac/trans/txen_reg"
        BEL "mac/receive/out_dat_7" BEL "mac/receive/out_dat_6" BEL
        "mac/receive/out_dat_5" BEL "mac/receive/out_dat_4" BEL
        "mac/receive/out_dat_3" BEL "mac/receive/out_dat_2" BEL
        "mac/receive/out_dat_1" BEL "mac/receive/out_dat_0" BEL
        "mac/receive/cke" BEL "clocks/bufg125_tx" BEL "mac_filter/byte_cnt_3"
        BEL "mac_filter/byte_cnt_2" BEL "mac_filter/byte_cnt_1" BEL
        "mac_filter/byte_cnt_0" BEL "mac_filter/OUT_ETH_STREAM_FILT_9" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_8" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_7" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_6" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_5" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_4" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_3" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_2" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_1" BEL
        "mac_filter/OUT_ETH_STREAM_FILT_0" BEL "mac/trans/txdat_reg_6" BEL
        "mac/trans/txdat_reg_4" BEL "mac/trans/txdat_reg_2" BEL
        "mac/trans/txdat_reg_0" BEL "mac/receive/out_frm" BEL
        "mac/receive/out_cke" BEL "mac_filter/match" BEL
        "mac/receive/out_cnt_0" BEL "mac/receive/out_cnt_3" BEL
        "mac/receive/out_cnt_2" BEL "mac/receive/out_cnt_1" BEL
        "mac/trans/Mshreg_data_dly_1_61" BEL "mac/trans/data_dly_1_61" BEL
        "mac/trans/Mshreg_data_dly_1_63" BEL "mac/trans/data_dly_1_63" BEL
        "mac/trans/Mshreg_data_dly_1_62" BEL "mac/trans/data_dly_1_62" BEL
        "mac/trans/Mshreg_data_dly_1_60" BEL "mac/trans/data_dly_1_60" BEL
        "mac/trans/Mshreg_data_dly_1_59" BEL "mac/trans/data_dly_1_59" BEL
        "mac/trans/Mshreg_data_dly_1_58" BEL "mac/trans/data_dly_1_58" BEL
        "mac/trans/Mshreg_data_dly_1_57" BEL "mac/trans/data_dly_1_57" BEL
        "mac/trans/Mshreg_data_dly_1_56" BEL "mac/trans/data_dly_1_56" BEL
        "mac/trans/Mshreg_frm_dly_7" BEL "mac/trans/frm_dly_7" BEL
        "mac_filter/Mshreg_dat_dly_1_94" BEL "mac_filter/Mshreg_frm_dly_12"
        BEL "mac_filter/frm_dly_12" BEL "mac_filter/Mshreg_dat_dly_1_95" BEL
        "mac_filter/Mshreg_dat_dly_1_93" BEL "mac_filter/Mshreg_dat_dly_1_92"
        BEL "mac_filter/Mshreg_dat_dly_1_91" BEL
        "mac_filter/Mshreg_dat_dly_1_90" BEL "mac_filter/Mshreg_dat_dly_1_89"
        BEL "mac_filter/Mshreg_dat_dly_1_88" BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/gras.rsts/ram_empty_fb_i"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_8"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_7"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_6"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_5"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_4"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_3"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_2"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_1"
        BEL "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/dout_i_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_8"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_7"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_6"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_5"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_4"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/dout_i_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_d1_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_d1_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_d1_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_d1_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/rpntr/gc0.count_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/gr1.rfwft/curr_fwft_state_FSM_FFd2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/gr1.rfwft/curr_fwft_state_FSM_FFd1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/gr1.rfwft/empty_fwft_i"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/gr1.rfwft/empty_fwft_fb"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_bin_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_bin_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_bin_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_bin_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_d1_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_d1_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_d1_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_d1_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_asreg_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/gr1.rfwft/curr_fwft_state_FSM_FFd2_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.rd/gr1.rfwft/curr_fwft_state_FSM_FFd1_1"
        PIN "mac/trans/txc_ddr_pins<1>" PIN "mac/trans/txc_ddr_pins<2>" PIN
        "mac/trans/txc_ddr_pins<1>" PIN "mac/trans/txc_ddr_pins<2>";
PIN mac/eth_ctrl/prog/rom_pins<20> = BEL "mac/eth_ctrl/prog/rom" PINNAME CLKA;
TIMEGRP clocks_calib_clk_bufg_in = BEL "mac/eth_ctrl/mdio_out" BEL
        "mac/eth_ctrl/E_LINK_SPEED_1" BEL "mac/eth_ctrl/E_LINK_SPEED_0" BEL
        "mac/eth_ctrl/E_MDC" BEL "mac/eth_ctrl/mdio_z" BEL
        "mac/eth_ctrl/cpu/stack_bit_9" BEL "mac/eth_ctrl/cpu/stack_bit_8" BEL
        "mac/eth_ctrl/cpu/stack_bit_7" BEL "mac/eth_ctrl/cpu/stack_bit_6" BEL
        "mac/eth_ctrl/cpu/stack_bit_5" BEL "mac/eth_ctrl/cpu/stack_bit_4" BEL
        "mac/eth_ctrl/cpu/stack_bit_3" BEL "mac/eth_ctrl/cpu/stack_bit_2" BEL
        "mac/eth_ctrl/cpu/stack_bit_1" BEL "mac/eth_ctrl/cpu/stack_bit_0" BEL
        "mac/eth_ctrl/cpu/memory_bit_7" BEL "mac/eth_ctrl/cpu/memory_bit_6"
        BEL "mac/eth_ctrl/cpu/memory_bit_5" BEL
        "mac/eth_ctrl/cpu/memory_bit_4" BEL "mac/eth_ctrl/cpu/memory_bit_3"
        BEL "mac/eth_ctrl/cpu/memory_bit_2" BEL
        "mac/eth_ctrl/cpu/memory_bit_1" BEL "mac/eth_ctrl/cpu/memory_bit_0"
        BEL "mac/eth_ctrl/cpu/stack_count_loop_register_bit_4" BEL
        "mac/eth_ctrl/cpu/stack_count_loop_register_bit_3" BEL
        "mac/eth_ctrl/cpu/stack_count_loop_register_bit_2" BEL
        "mac/eth_ctrl/cpu/stack_count_loop_register_bit_1" BEL
        "mac/eth_ctrl/cpu/stack_count_loop_register_bit_0" BEL
        "mac/eth_ctrl/cpu/stack_flop_9" BEL "mac/eth_ctrl/cpu/stack_flop_8"
        BEL "mac/eth_ctrl/cpu/stack_flop_7" BEL
        "mac/eth_ctrl/cpu/stack_flop_6" BEL "mac/eth_ctrl/cpu/stack_flop_5"
        BEL "mac/eth_ctrl/cpu/stack_flop_4" BEL
        "mac/eth_ctrl/cpu/stack_flop_3" BEL "mac/eth_ctrl/cpu/stack_flop_2"
        BEL "mac/eth_ctrl/cpu/stack_flop_1" BEL
        "mac/eth_ctrl/cpu/stack_flop_0" BEL
        "mac/eth_ctrl/cpu/write_strobe_flop" BEL
        "mac/eth_ctrl/cpu/sel_group_flop" BEL
        "mac/eth_ctrl/cpu/arith_carry_flop" BEL
        "mac/eth_ctrl/cpu/arith_flop_7" BEL "mac/eth_ctrl/cpu/arith_flop_6"
        BEL "mac/eth_ctrl/cpu/arith_flop_5" BEL
        "mac/eth_ctrl/cpu/arith_flop_4" BEL "mac/eth_ctrl/cpu/arith_flop_3"
        BEL "mac/eth_ctrl/cpu/arith_flop_2" BEL
        "mac/eth_ctrl/cpu/arith_flop_1" BEL "mac/eth_ctrl/cpu/arith_flop_0"
        BEL "mac/eth_ctrl/cpu/shift_flop_7" BEL
        "mac/eth_ctrl/cpu/shift_flop_6" BEL "mac/eth_ctrl/cpu/shift_flop_5"
        BEL "mac/eth_ctrl/cpu/shift_flop_4" BEL
        "mac/eth_ctrl/cpu/shift_flop_3" BEL "mac/eth_ctrl/cpu/shift_flop_2"
        BEL "mac/eth_ctrl/cpu/shift_flop_1" BEL
        "mac/eth_ctrl/cpu/shift_flop_0" BEL "mac/eth_ctrl/cpu/pipeline_bit"
        BEL "mac/eth_ctrl/cpu/logical_flop_7" BEL
        "mac/eth_ctrl/cpu/logical_flop_6" BEL
        "mac/eth_ctrl/cpu/logical_flop_5" BEL
        "mac/eth_ctrl/cpu/logical_flop_4" BEL
        "mac/eth_ctrl/cpu/logical_flop_3" BEL
        "mac/eth_ctrl/cpu/logical_flop_2" BEL
        "mac/eth_ctrl/cpu/logical_flop_1" BEL
        "mac/eth_ctrl/cpu/logical_flop_0" BEL "mac/eth_ctrl/cpu/store_flop_7"
        BEL "mac/eth_ctrl/cpu/store_flop_6" BEL
        "mac/eth_ctrl/cpu/store_flop_5" BEL "mac/eth_ctrl/cpu/store_flop_4"
        BEL "mac/eth_ctrl/cpu/store_flop_3" BEL
        "mac/eth_ctrl/cpu/store_flop_2" BEL "mac/eth_ctrl/cpu/store_flop_1"
        BEL "mac/eth_ctrl/cpu/store_flop_0" BEL
        "mac/eth_ctrl/cpu/memory_write_flop" BEL
        "mac/eth_ctrl/cpu/register_write_flop" BEL
        "mac/eth_ctrl/cpu/carry_flag_flop" BEL
        "mac/eth_ctrl/cpu/zero_flag_flop" BEL
        "mac/eth_ctrl/cpu/flag_write_flop" BEL "mac/eth_ctrl/cpu/reset_flop2"
        BEL "mac/eth_ctrl/cpu/reset_flop1" BEL "mac/eth_ctrl/cpu/toggle_flop"
        BEL "clocks/calib_clk_bufg" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_9" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_8" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_7" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_6" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_5" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_4" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_3" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_2" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_1" BEL
        "mac/eth_ctrl/cpu/pc_loop_register_bit_0" BEL "mac/eth_ctrl/E_RST_L"
        PIN "mac/eth_ctrl/prog/rom_pins<20>" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_7/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_7/DP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_6/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_6/DP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_5/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_5/DP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_4/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_4/DP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_3/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_3/DP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_2/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_2/DP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_1/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_1/DP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_0/SP" BEL
        "mac/eth_ctrl/cpu/reg_loop_register_bit_0/DP";
PIN clocks/bufio_gmii_rx_clk_pins<0> = BEL "clocks/bufio_gmii_rx_clk" PINNAME
        I;
TIMEGRP PHY_RXCLK = BEL "mac/receive/fe_rxd_byte_3" BEL
        "mac/receive/fe_rxd_byte_2" BEL "mac/receive/fe_rxd_byte_1" BEL
        "mac/receive/fe_rxd_byte_0" BEL "mac/receive/ge_rxd_byte_7" BEL
        "mac/receive/ge_rxd_byte_6" BEL "mac/receive/ge_rxd_byte_5" BEL
        "mac/receive/ge_rxd_byte_4" BEL "mac/receive/ge_rxd_byte_3" BEL
        "mac/receive/ge_rxd_byte_2" BEL "mac/receive/ge_rxd_byte_1" BEL
        "mac/receive/ge_rxd_byte_0" BEL "mac/receive/fe_frame_low" BEL
        "mac/receive/ge_frame_low" BEL "clocks/bufg_gmii_rx_clk" PIN
        "clocks/bufio_gmii_rx_clk_pins<0>" BEL "mac/receive/fe_rxd_byte_en"
        BEL "mac/receive/ge_rxd_byte_en" BEL "mac/receive/fe_tgl" BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/gwas.wsts/ram_full_fb_i"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d2_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d2_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d2_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d2_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d1_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d1_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d1_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_d1_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gl0.wr/wpntr/gic0.gc0.count_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_bin_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_bin_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_bin_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_bin_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_d1_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_d1_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_d1_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_d1_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/rd_pntr_gc_asreg_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_3"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_2"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/gcx.clkx/wr_pntr_gc_0"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM22/SP"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM22/DP"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM21/SP"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM21/DP"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM23/SP"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM23/DP"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMA_D1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMA"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMB_D1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMB"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMC_D1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMC"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMD_D1"
        BEL
        "mac/receive/clkchng_fifo/BU2/U0/gconvfifo.rf/grf.rf/mem/gdm.dm/Mram_RAM1_RAMD";
TIMEGRP clk125_rx_bufio = BEL "mac/receive/rx_en_inff" BEL
        "mac/receive/rxdat_inff_7" BEL "mac/receive/rxdat_inff_6" BEL
        "mac/receive/rxdat_inff_5" BEL "mac/receive/rxdat_inff_4" BEL
        "mac/receive/rxdat_inff_3" BEL "mac/receive/rxdat_inff_2" BEL
        "mac/receive/rxdat_inff_1" BEL "mac/receive/rxdat_inff_0";
TIMEGRP PHY_RX_SIGS = BEL "PHY_RXD<7>" BEL "PHY_RXD<6>" BEL "PHY_RXD<5>" BEL
        "PHY_RXD<4>" BEL "PHY_RXD<3>" BEL "PHY_RXD<2>" BEL "PHY_RXD<1>" BEL
        "PHY_RXD<0>" BEL "PHY_RXCTRL_RXDV" BEL "PHY_RXER";
PIN SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0> = BEL
        "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0" PINNAME DIVCLK;
PIN clocks/u_pll_adv_125_pins<2> = BEL "clocks/u_pll_adv_125" PINNAME CLKIN1;
TIMEGRP SYSCLK_P = PIN "SP6_BUFIO2_INSERT_PLL1_ML_BUFIO2_0_pins<0>" PIN
        "clocks/u_pll_adv_125_pins<2>";
TS_SYSCLK_P = PERIOD TIMEGRP "SYSCLK_P" 5 ns HIGH 50%;
TS_PHY_RXCLK = PERIOD TIMEGRP "PHY_RXCLK" 125 MHz HIGH 50%;
TS_clocks_calib_clk_bufg_in = PERIOD TIMEGRP "clocks_calib_clk_bufg_in"
        TS_SYSCLK_P / 0.25 HIGH 50%;
TS_clocks_xclk125_tx = PERIOD TIMEGRP "clocks_xclk125_tx" TS_SYSCLK_P / 0.625
        HIGH 50%;
TS_clk125_rx_bufio = PERIOD TIMEGRP "clk125_rx_bufio" TS_PHY_RXCLK HIGH 50%;
PIN mac/eth_ctrl/E_LINK_SPEED_1_pins<3> = BEL "mac/eth_ctrl/E_LINK_SPEED_1"
        PINNAME Q;
PIN mac/eth_ctrl/E_LINK_SPEED_0_pins<3> = BEL "mac/eth_ctrl/E_LINK_SPEED_0"
        PINNAME Q;
PIN "mac/eth_ctrl/E_LINK_SPEED_1_pins<3>" TIG;
PIN "mac/eth_ctrl/E_LINK_SPEED_0_pins<3>" TIG;
TIMEGRP "PHY_RX_SIGS" OFFSET = IN 2.4 ns VALID 2.8 ns BEFORE COMP "PHY_RXCLK"
        "RISING";
SCHEMATIC END;

