#-------------------------------------
# SP601_BRD.ucf
#-------------------------------------
# History of Changes:
#	6-15-2009 Initial creation
#-------------------------------------
# This is .ucf file for the FPGA on SP601 board
#-------------------------------------
#-------------------------------------
#
#------- Timing constraints -------

# 200-MHz system clock
NET "SYSCLK_P" TNM_NET = "SYSCLK_P";
TIMESPEC "TS_SYSCLK_P" = PERIOD "SYSCLK_P"  5  ns HIGH 50 %;

# PHY spec: 2.5ns setup time, 0.5ns hold time
NET "PHY_RXCLK" TNM_NET = PHY_RXCLK;
TIMESPEC TS_PHY_RXCLK = PERIOD "PHY_RXCLK" 125 MHz HIGH 50%;

INST "PHY_RXER" TNM = PHY_RX_SIGS;
INST "PHY_RXCTRL_RXDV" TNM = PHY_RX_SIGS;
INST "PHY_RXD*" TNM = PHY_RX_SIGS;
TIMEGRP "PHY_RX_SIGS" OFFSET = IN 2.4 ns VALID 2.8 ns BEFORE "PHY_RXCLK" RISING;


#NET "proc/PROC_TIME_US*" TIG;
NET "mac/eth_ctrl/E_LINK_SPEED*" TIG;


##
##
##------- Pin Constraints -------
## Clock inputs
NET "SYSCLK_P" LOC = "K15" |IOSTANDARD=LVDS_25; 
NET "SYSCLK_N" LOC = "K16" |IOSTANDARD=LVDS_25; 
#
## User I/O
NET "GPIO_SWITCH<0>"  LOC = "D14" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_SWITCH<1>"  LOC = "E12" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_SWITCH<2>"  LOC = "F12" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_SWITCH<3>"  LOC = "V13" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_LED<2>"     LOC = "C4"  |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_LED<0>"     LOC = "E13" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_LED<1>"     LOC = "C14" |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_LED<3>"     LOC = "A4"  |SLEW=SLOW |IOSTANDARD=LVCMOS25;
NET "GPIO_BUTTON<2>"  LOC = "P4"  |SLEW=SLOW |IOSTANDARD=LVCMOS18;  # GPIO_BUTTON1
NET "GPIO_BUTTON<0>"  LOC = "F6"  |SLEW=SLOW |IOSTANDARD=LVCMOS18;  # GPIO_BUTTON2
NET "GPIO_BUTTON<1>"  LOC = "E4"  |SLEW=SLOW |IOSTANDARD=LVCMOS18;  # GPIO_BUTTON0
NET "GPIO_BUTTON<3>"  LOC = "F5"  |SLEW=SLOW |IOSTANDARD=LVCMOS18;  # GPIO_BUTTON3
NET "CPU_RESET"       LOC = "N4" |SLEW=SLOW |IOSTANDARD=LVCMOS18; 
#
##
##                          
##---------- Phy interface ----------
NET "PHY_MDIO"    		LOC = "P16" |SLEW=SLOW |IOSTANDARD=LVCMOS25; #IO_L28N_1_DOUT
NET "PHY_MDC"    		LOC = "N14" |SLEW=SLOW |IOSTANDARD=LVCMOS25; #IO_L26N_1_VREF_1
NET "PHY_RESET_L"		LOC = "L13" |SLEW=SLOW |IOSTANDARD=LVCMOS25; #IO_L13N_1_GCLK10
#
NET "PHY_TXC_GTXCLK"	LOC = "A9" 	|SLEW=FAST |DRIVE=8 |IOSTANDARD=LVCMOS25; #IO_L15N_0_GCLK16
NET "PHY_TXCLK"			LOC = "B9"  |IOSTANDARD=LVCMOS25; #IO_L15P_0_GCLK17
NET "PHY_TXCTL_TXEN"	LOC = "B8" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L13P_0
NET "PHY_TXER"			LOC = "A8" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L13N_0
NET "PHY_TXD<0>"		LOC = "F8" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L12N_0
NET "PHY_TXD<1>"		LOC = "G8" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L12P_0
NET "PHY_TXD<2>"		LOC = "A6" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L08N_0_VREF
NET "PHY_TXD<3>"		LOC = "B6" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L08P_0
NET "PHY_TXD<4>"		LOC = "E6" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L07N_0
NET "PHY_TXD<5>"		LOC = "F7" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L07P_0
NET "PHY_TXD<6>"		LOC = "A5" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L06N_0
NET "PHY_TXD<7>"		LOC = "C5" 	|SLEW=SLOW |DRIVE=4 |IOSTANDARD=LVCMOS25; #IO_L06P_0
#
NET "PHY_RXCLK"			LOC = "L16" |IOSTANDARD=LVCMOS25; #IO_L15N_1_GCLK6
NET "PHY_CRS"			LOC = "M13" |IOSTANDARD=LVCMOS25; #IO_L27N_1
NET "PHY_COL"			LOC = "L14" |IOSTANDARD=LVCMOS25; #IO_L27P_1
NET "PHY_RXER"			LOC = "P17" |IOSTANDARD=LVCMOS25; #IO_L22P_1
NET "PHY_RXCTRL_RXDV"	LOC = "N18" |IOSTANDARD=LVCMOS25; #IO_L21N_1
NET "PHY_RXD<0>"		LOC = "M14" |IOSTANDARD=LVCMOS25; #IO_L26P_1
NET "PHY_RXD<1>"		LOC = "U18" |IOSTANDARD=LVCMOS25; #IO_L25N_1
NET "PHY_RXD<2>"		LOC = "U17" |IOSTANDARD=LVCMOS25; #IO_L25P_1
NET "PHY_RXD<3>"		LOC = "T18" |IOSTANDARD=LVCMOS25; #IO_L24N_1
NET "PHY_RXD<4>"		LOC = "T17" |IOSTANDARD=LVCMOS25; #IO_L24P_1
NET "PHY_RXD<5>"		LOC = "N16" |IOSTANDARD=LVCMOS25; #IO_L23N_1
NET "PHY_RXD<6>"		LOC = "N15" |IOSTANDARD=LVCMOS25; #IO_L23P_1
NET "PHY_RXD<7>"		LOC = "P18" |IOSTANDARD=LVCMOS25; #IO_L22N_1


